<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sundial.stagepilot"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="SunDial Stage Pilot"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

        <!-- Old MainActivity is now just a background activity (hidden from launcher) -->
        <activity android:name=".MainActivity"
            android:exported="false" />

        <activity android:name=".HelpActivity" />
        <activity android:name=".SelfTestActivity" />

        <activity android:name=".TestBlocksActivity" />
        <activity android:name=".TestPdfParseActivity" />

        <!-- Make TestParseAndBlocksActivity the new Home Page! -->
        <activity android:name=".TestParseAndBlocksActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TestFeature1Activity" />
        <activity android:name=".TestFeature2Activity" />
        <activity android:name=".TestFeature3Activity" />
        <activity android:name=".TestFeature4Activity" />

    </application>
</manifest>
